<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         testdox="false"
         bootstrap="tests/php/integration/bootstrap.php"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         cacheDirectory=".phpunit.cache"
>
	<php>
        <const name="WP_TESTS_MULTISITE" value="1" />
   	</php>

	<testsuites>
		<testsuite name="Integration tests">
			<directory prefix="Test" suffix=".php">tests/php/integration</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			  <directory suffix=".php">src/</directory>
		</include>
	</source>
</phpunit>
