parameters:
    level: 9
    paths:
        - src/
        - modules/
        - tests/php/unit/
        - multisyde.php
    excludePaths:
        analyse:
            - modules/GetSiteBy/patches/40180.php
            - modules/SitesDataViews/lib/
