<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         testdox="false"
         bootstrap="tests/php/unit/bootstrap.php"
>
  <php>
    <ini name="error_reporting" value="32767" />
    <ini name="display_errors" value="1" />
    <ini name="display_startup_errors" value="1" />
  </php>

  <testsuites>
    <testsuite name="Unit tests">
      <directory prefix="Test" suffix=".php">tests/php/unit</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
</phpunit>
