@import "@wordpress/dataviews/build-style/style.css";

.ms-sites-dataviews {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 160px);
	margin-top: 16px;
	background: var(--wp-components-color-accent-inverted, white);
	border: #ccc;
	color: #2f2f2f;
	border-radius: 4px;
	overflow: hidden;

	> h1 {
		padding: 16px 48px 0;

		@media (max-width: 960px) {
			padding: 12px 24px 0;
		}
	}
}

.ms-sites-url {
	white-space: nowrap;
}
